
@model IEnumerable<LastLinkedin.Models.ApplicationUser>


@{ var t = 0; }

@foreach (var item in Model)
{
    t++;
    /** <tr>
         <td>@item.Title</td>
         <td>@item.Description</td>



     </tr>**/
}

@{

    // var nums = Enumerable.ToArray();
    string[] nums = new string[t];


}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="people" role="tabpanel" aria-labelledby="people-tab">
        <div class="row">
            @{ var w = 0;}
            @foreach (var item in Model)
            {
                int pos = Array.IndexOf(nums, item.Id);
                if (pos == -1)
                {
                    <div class="col-sm-4 card-element">
                        <div class="Card">
                            <div class="user_image">
                                <img src="~/Resources/anonymous.jpg" width="100" height="100" style="z-index:9999999" alt="User Image" class="rounded-circle">
                            </div>

                            <div class="user_description">
                                <h2>@item.firstName <span>@item.lastName</span></h2>
                                <h3>Backend web developer</h3>
                            </div>

                            <div class="mutual_friends">
                                <p class="text-danger">
                                    <span> 30 </span> mutaual friends
                                </p>
                            </div>

                            @using (Ajax.BeginForm("Recommendations", "MyNetwork", new AjaxOptions { HttpMethod = "POST" }, new { onsubmit = "myFun();" }))
                            {
                                <input type="hidden" name="Id" value="@item.Id" />
                                <button type="submit" class="btn btn-default btn-block" id="btn-remove">Connect</button>

                            }

                        </div>
                    </div>
                    nums[w] = @item.Id;
                    w++;

                }

            }


        </div>
    </div>
    <div class="tab-pane fade" id="companies" role="tabpanel" aria-labelledby="companies-tab">
        <div role="tabpanel" class="tab-pane" id="companies">
            <div class="row">
                <div class="col-sm-4">
                    <div class="Card">
                        <div class="user_image">
                            <img src="~/Resources/mark.jpg" width="100" height="100" style="z-index:9999999" alt="Company Image">
                        </div>

                        <div class="user_description">
                            <h2>Karim Muhammed</h2>
                            <h3>Backend web developer</h3>
                        </div>

                        <div class="mutual_friends">
                            <p class="text-danger">
                                <span> 30 </span> mutaual friends
                            </p>
                        </div>

                        <a class="btn btn-default btn-block ">Connect</a>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="Card">
                        <div class="user_image">
                            <img src="~/Resources/mark.jpg" width="100" height="100" style="z-index:9999999" alt="Company Image">
                        </div>

                        <div class="user_description">
                            <h2>Ahmed Muhammed</h2>
                            <h3>Backend web developer</h3>
                        </div>

                        <div class="mutual_friends">
                            <p class="text-danger">
                                <span> 30 </span> mutaual friends
                            </p>
                        </div>

                        <a class="btn btn-default btn-block ">Connect</a>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="Card">
                        <div class="user_image">
                            <img src="~/Resources/mark.jpg" width="100" height="100" style="z-index:9999999" alt="Company Image">
                        </div>

                        <div class="user_description">
                            <h2>Ahmed Ali</h2>
                            <h3>Backend web developer</h3>
                        </div>

                        <div class="mutual_friends">
                            <p class="text-danger">
                                <span> 30 </span> mutaual friends
                            </p>
                        </div>

                        <a class="btn btn-default btn-block ">Connect</a>

                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="Card">
                        <div class="user_image">
                            <img src="~/Resources/mark.jpg" width="100" height="100" style="z-index:9999999" alt="Company Image">
                        </div>

                        <div class="user_description">
                            <h2>Karim Muhammed</h2>
                            <h3>Backend web developer</h3>
                        </div>

                        <div class="mutual_friends">
                            <p class="text-danger">
                                <span> 30 </span> mutaual friends
                            </p>
                        </div>

                        <a class="btn btn-default btn-block ">Connect</a>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="Card">
                        <div class="user_image">
                            <img src="~/Resources/mark.jpg" width="100" height="100" style="z-index:9999999" alt="Company Image">
                        </div>

                        <div class="user_description">
                            <h2>Ahmed Muhammed</h2>
                            <h3>Backend web developer</h3>
                        </div>

                        <div class="mutual_friends">
                            <p class="text-danger">
                                <span> 30 </span> mutaual friends
                            </p>
                        </div>

                        <a class="btn btn-default btn-block ">Connect</a>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="Card">
                        <div class="user_image">
                            <img src="~/Resources/mark.jpg" width="100" height="100" style="z-index:9999999" alt="Company Image">
                        </div>

                        <div class="user_description">
                            <h2>Ahmed Ali</h2>
                            <h3>Backend web developer</h3>
                        </div>

                        <div class="mutual_friends">
                            <p class="text-danger">
                                <span> 30 </span> mutaual friends
                            </p>
                        </div>

                        <a class="btn btn-default btn-block ">Connect</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="groups" role="tabpanel" aria-labelledby="groups-tab">Groups</div>
    <div class="tab-pane fade" id="hashtags" role="tabpanel" aria-labelledby="hashtags-tab">Hashtags</div>

</div>

<!-- End Recommend Sections tabs -->

@section Scripts
{
    <script>

        function myFun() {
            $('#btn-remove').on('click', function (event) {
                event.preventDefault();
                $(this).closest(".card-element").fadeOut(500, function () {
                    $(this).remove();
                });
            });

        }

        function myFun1() {

            $('#btn-inv').on('click', function (event) {
                event.preventDefault();
                $(this).closest(".card-body").fadeOut(500, function () {
                    $(this).remove();
                });
            });

        }

    </script>

}


<!-- End Recommended -->
