
@{
    Layout = null;
}
@using System;
@using System.Web;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@{
    var user = System.Web.HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());

}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profile</title>
    <!-- <link href="css/all.min.css" rel="stylesheet" />-->
    <link href="~/ProfileLayoutResources/css/scrolling-nav.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
</head>
<body id="page-top">
    <!-- Navigation -->
    @*<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container" style="height:35px">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/LinkedIn.jpg" style="height:40px; width:50px" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class=" nav-link js-scroll-trigger" href="#">
                                <i class="fas fa-home fa-lg"></i>
                                <br />
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link js-scroll-trigger" href="#">
                                <i class="fas fa-user-friends fa-lg"></i>
                                <br />
                                <span>My Network</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link js-scroll-trigger" href="#">
                                <i class="fas fa-briefcase fa-lg"></i>
                                <br />
                                <span>Jobs</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link js-scroll-trigger" href="#">
                                <i class="far fa-comments fa-lg"></i>
                                <br />
                                <span>Messaging</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link js-scroll-trigger" href="#">
                                <i class="far fa-bell fa-lg"></i>
                                <br />
                                <span>Notifications</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <!--<a class="nav-link js-scroll-trigger" href="#">
                                <div>
                                    <img src="img/LinkedIn.jpg" style="border:1px solid black;border-radius:50%;height:30px;width:30px" />
                                  <br />
                                    <span>me <i class="fas fa-sort-down"></i></span>
                                </div>
                            </a>-->
                            <div class="dropdown">
                                <img src="../../ProfileLayoutResources/img/LinkedIn.jpg" style="border:1px solid black;border-radius:50%;height:30px;width:30px" />

                                <br />
                                <button class="btn dropdown-toggle" style="background-color:transparent;color:#fdfbfb" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Me
                                </button>
                                <!--<span>me <i class="fas fa-sort-down"></i></span>-->

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width:300px;background-color: #fff;
        /*background-clip: padding-box;*/
        border-radius: 2px;
        transition: box-shadow 83ms;
        /*padding: 4px 0 0;*/
        width: 288px;
        right: 0;
        left: auto;
        text-align: left;">
                                    <li>
                                        <a href="#" class="dropdown-item">

                                            <div style="display:table">
                                                <div style="display:table-cell;position:relative;vertical-align:middle">
                                                    <img src="~/ProfileLayoutResources/img/LinkedIn.jpg" style="display:table-cell ;border:1px solid black;border-radius:50%;height:30px;width:30px;float:left;margin-left:15px" />
                                                </div>
                                                <div class="container" style="display:table-cell;position:relative;vertical-align:middle">
                                                    <h3 style="font-size:small; line-height: 1.5;">Nessma ELshami</h3>
                                                    <h5 style="color:rgba(0,0,0,.6);font-size:smaller">Full-Stack Developer</h5>
                                                </div>
                                            </div>
                                            <div style="background: #fff;display: table;width: 100%" class="view">
                                                <span style="text-align:center;color:#0073b1;display:table-cell">View Profile</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-item " style="display:table;padding:0" href="#">
                                        <h6 class="setting">Account</h6>
                                        <ul class="dropset" style="list-style-type:none">
                                            <li><a class="dropdown-item" style="color: rgba(0,0,0,.6);" href="#">Settings&Privacy</a></li>
                                            <li><a class="dropdown-item" style="color: rgba(0,0,0,.6);" href="#">Language</a></li>

                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--<div class="clear"></div>-->
        </nav>*@
    <!--<header class="bg-primary text-white">
      <div class="container text-center">
        <h1><i class="fas fa-home"></i></h1>
        <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
      </div>
    </header>-->
    <nav class="navbar navbar-expand-lg mb-4 sticky-top" style="background-color:#283E4A; margin-top:-120px; height:60px; color:white;">
        <a href="@Url.Action("Feeds", "Home", null)">
            <img src="~/Resources/logo.png" style="margin-right:10px; margin-left:170px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="margin-left:700px;">
                @Html.Partial("_LoginPartial", user)
            </div>
        </div>
    </nav>
    <div class=" container">



        <div class="col-sm-2 col-md-4 col-lg-8" style="position:relative;top:90px;width:620px">

            <div style="border:1px solid lightgrey; box-shadow: 0 8px 6px -6px black;">
                <div style="background-image:url(../../ProfileLayoutResources/img/Capture.PNG);background-repeat:no-repeat;height:170px;background-size:cover">
                    <a href="#" style="text-decoration:none;position:relative;left:520px;color:grey;top:150px;border:2px solid grey;border-radius:50%;padding:5px 5px"> <i class="fas fa-camera fa-lg"></i></a>

                </div>
                <div>
                    <img src="~/ProfileLayoutResources/img/LinkedIn.jpg" style="height:130px;width:130px;border-radius:50%;position:absolute;top:90px;left:30px;border:4px solid lightgrey" />
                    <a href="#" style="text-decoration:none;position:relative;left:120px;color:grey;border:2px solid grey;border-radius:50%;padding:5px 5px"> <i class="fas fa-camera fa-lg"></i></a>
                </div>
                <div style="margin-top:55px;padding-bottom:20px">
                    @RenderSection("updateinfo")
                    @*<a href="#" style="text-decoration:none">
                            <i class="fas fa-pen" style="position:absolute; right:40px;"></i>
                        </a>*@
                    <div class="col-lg-5 col-sm-2">
                        @RenderBody()
                        @RenderSection("userdata")

                        @*<label style="font-weight:bold;font-size:large;line-height:1.5;display:block">Nessma Elshami</label>
                            <label style="font-weight:400;display:block">Full-stack Developer</label>
                            <label style="font-weight:100;display:block">Egypt</label>*@

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add Profile Section
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Intro
                                                    <i id="arrow" class="fas fa-angle-down " style="float:right"></i>
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <i id="arrow" style="float:left;position:absolute;top:48px;left:20px" class="fas fa-grip-lines"></i>
                                                <span style="margin-right:10px;margin-left:10px;">
                                                    Summary<br />
                                                    Use summary to share what<br /> you do or the opportunities<br /> you are looking for
                                                </span>
                                                <i id="arrow" style="float:right;position:absolute;top:80px;left:230px" class="fas fa-plus-circle fa-lg"></i>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Background
                                                    <i id="arrow" class="fas fa-angle-down " style="float:right"></i>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Skills
                                                    <i id="arrow" class="fas fa-angle-down " style="float:right"></i>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!--</div>
            </section>-->
        </div>
        <div class="col-sm-2 col-md-4 col-lg-8" style="border:1px solid lightgrey;position:relative;width:600px;top:120px;padding-bottom:15px;box-shadow: 0 8px 6px -6px black;">
            <div style="padding:5px 5px">
                @RenderSection("addexperience", false)
                @*<a href="#" style="position:absolute; right:40px;">
                        <i class="fas fa-plus"></i>

                    </a>
                    <a href="#" style="position:absolute; right:40px;top:70px">
                        <i class="fas fa-pen "></i>
                    </a>*@

                <span>   Experience</span>

            </div>

            <div class="col-md-8" style="display:flex">

                <div>
                    @RenderSection("experience", false)
                    @*<label style="font-weight:bold;font-size:large;line-height:1.5;display:block">Student</label>
                        <label style="font-weight:400;display:block">ITI 9-month program</label>
                        <label style="font-weight:100;display:block">oct 2018-presen</label>*@
                </div>


            </div>


        </div>
        <div class="col-sm-2 col-lg-8 col-md-4" style="border:1px solid lightgrey;width:600px;
      position:relative;top:150px; box-shadow: 0 8px 6px -6px black;padding:5px 5px">

            <div style="padding:5px 5px">
                @*<a href="#" style="position:absolute; right:40px;">
                        <i class="fas fa-pen "></i>
                    </a>*@
                <div style="display:inline-block;position:absolute;right:10px">
                    @*<a class="hov" href="#" style="text-decoration:none;color:rgba(0,0,0,.6)">
                            Ask for Recommendations
                        </a>

                        <a class="hov" href="#" style="text-decoration:none;color:rgba(0,0,0,.6)">
                            Recommend someone
                        </a>*@

                </div>
                <span>  Recommendations</span>
                @RenderSection("recomds", false)

            </div>
            @RenderSection("Recommendations", false)

        </div>
        <div class="col-sm-2 col-lg-8 col-md-4" style="border:1px solid lightgrey;width:600px;
      position:relative;top:180px; box-shadow: 0 8px 6px -6px black;padding:5px 5px;margin-bottom:20px">

            <div style="padding:5px 5px">

                <span>  Interests</span>
                <br />
                <br />
                <table class="table table-striped table-hover ">
                    <tr>
                        <td>
                            <a href="#"> Comp1</a>
                        </td>
                        <td>
                            <a href="#">comp1</a>
                        </td>
                    </tr>
                </table>

            </div>


        </div>



        <aside class="col-lg-4 col-sm-3" style="
    /*margin-left: .5rem;*/
    float: right;
    /*box-shadow: inset 5px 0 5px -5px #29627e;*/
    font-style: italic;
    position:absolute;top:100px;
    right:60px;

   ">
            <div style="border-bottom:1px solid lightgrey;margin-bottom:15px;padding-bottom:10px">
                <a href="#" style="text-decoration:none;">
                    <span style="color:rgba(0,0,0,.6)">Edit public profile & URL</span>
                    <i class="far fa-question-circle" style="color:rgba(0,0,0,.6);float:right"></i>
                </a>
            </div>
            <div style="border-bottom:1px solid lightgrey;margin-bottom:15px;padding-bottom:10px">
                <a href="#" style="text-decoration:none;">
                    <span style="color:rgba(0,0,0,.6)">Add profile in another language</span>
                    <i class="far fa-question-circle" style="color:rgba(0,0,0,.6);float:right"></i>
                </a>
            </div>
            <div style="margin-bottom:15px;padding-bottom:10px">
                <a href="#" style="text-decoration:none;">
                    <div style="background-image:url(../../ProfileLayoutResources/img/job.PNG);background-repeat:no-repeat;height:260px;"></div>
                </a>
            </div>
        </aside>




    </div>


    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    @*<script src="~/Scripts/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    <!-- Plugin JavaScript -->
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    @* <script src="~/Scripts/jquery.easing.1.3.js"></script>*@
    <!-- Custom JavaScript for this theme -->
    @*<script src="~/ProfileLayoutResources/js/scrolling-nav.js"></script>*@
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
